*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(245, 240, 240, 0.055), rgba(245, 240, 240, 0.055)), url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img {
    width: 130px;
    filter: brightness(0) invert(1);
}
nav h1{
    color: #fff;
    font-size: 24px;
}
.nav-menu{
    flex: 1;
    text-align: right;
}
.nav-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-menu ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #2F424D;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-menu ul li:hover::after{
    width: 100%;

}
.hamburger{
    display: none;
    cursor: pointer
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.text-box{
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h2{
    font-size: 63px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 22px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-button:hover{
    color: #2F424D;
    font-size: 14px;
    border: 1px solid #fff;
    background: #fff;
    transition: 1s; 
}


.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.service h2{
    font-size: 40px;
    font-weight: 600;
    color: #25333b;
}
.service p {
    color: #25333b;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
}
.row {
    color: #fff;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.service-row{
    flex-basis: 25%;
   
    border-radius: 25px;
    margin-bottom: 5%;
    padding: 40px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.first, .self, .remor{
    background-color: #25333bce;
    background-position: center;
    background-size: cover;
}
/* .self{
    background-image: linear-gradient(rgba(4, 9, 30, 0.678), rgba(4, 9, 30, 0.438)),url(images/self.jpg);
    background-position: center;
    background-size: cover;
}
.remor{
    background-image: linear-gradient(rgba(4, 9, 30, 0.678), rgba(4, 9, 30, 0.438)),url(images/remortgage.jpg);
    background-position: center;
    background-size: cover;
} */
.service-row h3{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}
.service-row p{
    color: #fff;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
}
.service-row:hover{
    box-shadow: 0 0 20px 10px rgba(14, 29, 41, 0.363);
}


.team{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.team h2{
    font-size: 60px;
    font-weight: 600;
    color: #25333b;
}
.team h3{
    font-size: 20px;
    color: #25333b;
    font-weight: 600;
    margin-bottom: 0;
    
}
.team p{
    color: #25333b;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 50px;
}
.team-col{
    flex-basis: 40%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.team-col img{
    width: 100%;
}


.reviews{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.reviews h2{
    color: #25333b;
    text-align: center;
    font-size: 50px;
    margin: 10px 0;
}
.reviews h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.reviews p{
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
}
 .reviews-col{
    flex-basis: 31%;
    background-color: #344769;
    border-radius: 25px;
    margin: 20px;

    padding: 40px 12px;
    box-sizing: border-box;
    
}

.hero-btn2{
    display: inline-block;
    text-decoration: none;
    color: #344769;
    border: 3px solid #344769;
    
    padding: 12px 34px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn2:hover{
    color: #fff;
    font-size: 20px;
    border: 1px solid #344769;
    background: #344769;
    transition: 1s; 
}
/*      CALL THE ACTION    */

.cta{
    margin: 100px auto;
    width: 80%;
   
    background-image: linear-gradient(rgba(245, 240, 240, 0.473), rgba(248, 244, 244, 0.507)),url(images/footer.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
   
}
.cta h1{
    color: #25333b;
    margin-bottom: 40px;
    font-size: 50px;
    padding: 0;
}

.hero-btn3{
    text-decoration: none;
    background: transparent;
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    margin-top: 40px;
}
.hero-btn3:hover{
    color: #fff;
    font-size: 30px;
    border: 1px solid #25333b;
    background: #25333b;
    transition: 1s; 
}



/*  ---------------------- FOOTER -----------*/
footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 10px;
    background-color: #31333575;
    
}
footer .bottom{
    color: #25333b;
    font-weight: 600;
    flex-basis: 20% 60% 20%;
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    
}
.col-1{
    font-size: 14px;
    line-height: 2.5rem;
    padding:10px;
}
.col-2{
    font-size: 12px;
    padding:10px;
    margin-top: 20px;
    line-height: 2rem;
}
.col-3{
    font-size: 14px;
    padding:10px;
    line-height: 2.5rem;
}
.icons .fa{
    color: #25333b;
    font-size: 30px;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/*                     CONTACT.HTML     */
.header-contact{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.header-contact h2{
    margin-top: 100px;
    font-size: 60px;
}
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}
.contact-col{
    padding-top: 40px;
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col label{
    color: #25333b;
}
.contact-col div .fa{
    font-size: 28px;
    color: #25333b;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
    color: #25333b;
}
.contact-col div h5{
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #2F424D;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #25333b;
    box-sizing: border-box;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #2F424D;
    border: 1px solid #25333b;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #2F424D;
    background: #25333bbe;
    color: #fff;
    transition: 1s;
}
/*---------------------MEDIA Q--------------*/
@media(max-width: 700px){
    .text-box h2{
        font-size: 24px;
    }
    .text-box p{
        font-size: 12px;
        padding: 30px;
    }
    nav h1{
        /*color: #fff;
        font-size: 16px;*/
        display: none;
    }
    .hamburger{
        display: block;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;

    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu ul li {
        display: block;
        padding: 20px;
    }
    .nav-menu {
        position:  fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #344769;
        width: 100%;
        text-align: center;
        transition:  0.3s;
        z-index: 2;
    } 
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #fff;
        display: block;
        margin: auto;
        transition: 1s;
    }
   
    .nav-menu.active{
        left: 0;
    }
    .row{
    flex-direction: column;
    }
    .reviews h2{
        font-size: 40px;
       
    }
    .cta h1{
        font-size: 24px;
        margin: 20px;
        padding-bottom: 30px;
    
    }
    .bottom{
    flex-direction: column;
    }   
}
